
/*  reset */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400&display=swap');
html
{
    font-size: 60.5%;   
    height: 50%;
    background-color: var(--background-body-color);
}

body
{
    font-size: 12px;
    font-family:sans-serif;
    margin: 0;
    letter-spacing: 0.1rem;
    line-height: 1.6;
    color: var(--background-text-color);
    padding: 0px;
}
h1,h2,p,figure,figcaption,ul,li
{
    list-style: none;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
*
{
    box-sizing: border-box;
}

:root
{
    --background-body-color: #53a0bd;
    --background-color: #fafafa;
    --background-text-color: #4e4e4e;
    --background-title-color: #015a78;
    --background-list-color: #2c3f50;
}
header h1
{
    font-family: 'lobster';
    text-align: center;
    padding: 2rem;
    color: var(--background-color);
    background-color: var(--background-title-color);
    padding-bottom: 1rem;

}

