
/*  reset */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400&display=swap');
html
{
    font-size: 60.5%;   
    height: 50%;
    background-color: var(--background-body-color);
}

body
{
    font-size: 12px;
    font-family:sans-serif;
    margin: 0;
    letter-spacing: 0.1rem;
    line-height: 1.6;
    color: var(--background-text-color);
    padding: 0px;
}
h1,h2,p,figure,figcaption,ul,li
{
    list-style: none;
    font-weight: 300;
    margin: 0;
    padding: 0;
}
*
{
    box-sizing: border-box;
}

:root
{
    --background-body-color: #53a0bd;
    --background-color: #fafafa;
    --background-text-color: #4e4e4e;
    --background-title-color: #015a78;
    --background-list-color: #2c3f50;
}
header h1
{
    font-family: 'lobster';
    text-align: center;
    padding: 2rem;
    color: var(--background-color);
    background-color: var(--background-title-color);
    padding-bottom: 1rem;

}

main section
{
    max-width: 70rem;
    margin: 2rem auto;
    padding: 1rem;
    background-color: var(--background-color);
}

main section h2


{
    font-family: 'lobster' ;
    padding: 1rem;
    color: var(--background-title-color);
    font-weight: bold;
    font-size: 23px;
}
main section p

{
    text-align: justify;
}
main figure img
{
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    object-fit: cover;
}
figure figcaption h2 
{
    padding: 1rem;
    text-align: center;
    font-size: 23px;
}
figure figcaption p

{
    text-align: center;

}
figure figcaption ul li
{
    padding: 1rem;
    background-color: var(--background-list-color);
    color: #f0f1f2;
    margin-left: 0rem;
    margin-bottom: 2px;
    margin-top: 1px;
    text-align: left;
}
